@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
}

.links {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-itens {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-itens li {
    margin: 0 15px; 
}

.nav-itens li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-itens li a:hover {
    color: #b6b3b3; 
}

.banner {
    width: 100%;
    margin-top: 0px; 
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.sec {
    padding: 2px 5%;
    margin-top: 90px;
    margin-bottom: 80px;
}

.sec h2 {
    margin-left: 140px;
    font-size: 28px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.sec p {
    margin-left: 100px;
    font-size: 15px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}